[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.github.com/toutpt/mypythontools/master/test-xml.cfg
package-name = collective.js.datatables
package-extras = [test]

[instance]
zcml+=collective.js.datatables.example